/* Nav bar */
* {
  box-sizing: border-box;
}
body{
    font-family: 'Pacifico', cursive;
}
.boton{
    border: none;
    background-color: #CCD5AD;
    color: #221b13;
    padding: 12px;
}
.boton:hover{
    background-color: #E9EDC9;
    color: #d4a373;
}
.navbar a,
.navbar button {
  font-size: 20px;
}
.text-nav{
    text-decoration: none;
    margin-right: 20px;
    color: #d4a373;
    
}
.text-nav:hover{
    color: black;
}
main{
    margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  background-color: #ffffff;
}
#contenedor-publicaciones {
  width: 80vw;             /* 80% del ancho de la pantalla */
  height: 80vh;            /* 80% de la altura de la pantalla */
  background-color: #FEFAE0;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;        /* scroll si hay muchas cards */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}